.w-48 {
  width: 48px !important;
  height: 48px !important
}

.w-80 {
  width: 80px !important;
  height: 80px !important
}

.w-120 {
  width: 120px !important;
  height: 120px !important
}

.w-150 {
  width: 150px !important;
  height: 150px !important
}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
  border-radius: inherit;
  width: 100%
}

.text-gd {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
  color: #fff;
  border: none;
  background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
  color: #fff;
  border: none;
  background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}